<li id="<%= link.id %>">
  <article class="column gap-m border-radius-sm bg-n-100 pad-m">
    <div class="row main-axis-space-between">
      <div class="row gap-sm cross-axis-center">
	<img alt="" src="/public/images/icons/icon-drag-and-drop.svg">
	<h5 class="fs-400">Link #<%= link.number %></h5>
      </div>
      <button class="clr-n-700">Remove</button>
    </div>
    <div class="column">
      <p class="fs-200">Platform</p>
      <div class="select { column gap-sm }">
	<button id="select_<%= link.number %>"
		class="pad-sm border-radius-sm border-clr-n-400 bg-n-000"
		role="combobox"
		aria-label="Platform"
		aria-expanded="false"
		aria-haspopup="menu"
		aria-controls="options_<%= link.number %>">
	  <div class="row gap-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/<%= link.params.grayIcon %>">
	    <span><%= link.params.title %></span>
	  </div>
	</button>
	<ul id="options_<%= link.number %>"
	    role="menu"
	    data-visible="false"
	    data-position="under"
	    class="options { column border-radius-sm border-clr-n-400 bg-n-000 }">
	  <li role="menuitem"	      
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "GitHub") { %> data-status="selected" <% } %>>	    
	    <img alt="" src="/public/images/icons/icon-github-gray.svg">
	    <span>GitHub</span>
	  </li>
	  <li role="menuitem"	      
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "LinkedIn") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-linkedin-gray.svg">
	    <span>LinkedIn</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "GitLab") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-gitlab-gray.svg">
	    <span>GitLab</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "StackOverflow") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-stack-overflow-gray.svg">
	    <span>StackOverflow</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "YouTube") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-youtube-gray.svg">
	    <span>YouTube</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "Facebook") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-facebook-gray.svg">
	    <span>Facebook</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "Twitch") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-twitch-gray.svg">
	    <span>Twitch</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "Twitter") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-twitter-gray.svg">
	    <span>Twitter</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "Hashnode") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-hashnode-gray.svg">
	    <span>Hashnode</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "Codepen") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-codepen-gray.svg">
	    <span>Codepen</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "Devto") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-devto-gray.svg">
	    <span>Devto</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "Codewars") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-codepen-gray.svg">
	    <span>Codewars</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "Freecodecamp") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-freecodecamp-gray.svg">
	    <span>Freecodecamp</span>
	  </li>
	  <li role="menuitem"
	      class="row gap-sm pad-sm cross-axis-center"
	      <% if (link.params.title === "FrontendMentor") { %> data-status="selected" <% } %>>
	    <img alt="" src="/public/images/icons/icon-frontend-mentor-gray.svg">
	    <span>Frontend mentor</span>
	  </li>
	</ul>
      </div>
    </div>
    <div class="column">
      <label class="fs-200" for="input_<%= link.number %>">Link</label>
      <div class="input-link" style="--host: '<%= link.params.host %>';">
	<input id="input_<%= link.number %>"
	       type="url"
	       value="<%= new URL(link.url).pathname.replace("/", "") %>"
	       class="border-radius-sm border-clr-n-400 pad-sm"
	       style="--pad-left: <%= link.params.offset %>;">
      </div>
    </div>
  </article>
</li>
