<li id="<%= link.id %>">
  <article class="column gap-m border-radius-sm bg-n-100 pad-m">
    <div class="row main-axis-space-between">
      <div class="row gap-sm cross-axis-center">
	<img alt="" src="/public/images/icons/icon-drag-and-drop.svg">
	<h5 class="fs-400">Link #<%= index %></h5>
      </div>
      <button class="clr-n-700">Remove</button>
    </div>
    <div class="column">
      <p class="fs-200">Platform</p>
      <div class="select { column gap-sm }">
	<button id="select_<%= index %>"
		class="pad-sm border-radius-sm border-clr-n-400 bg-n-000"
		role="combobox"
		aria-label="Platform"
		aria-expanded="false"
		aria-haspopup="menu"
		aria-controls="options_<%= index %>">
	  <div class="row gap-sm cross-axis-center">
	    <img alt="" ejs-src="/public/images/icons/<%= link.grayIcon %>">
	    <span><%= link.source %></span>
	  </div>
	</button>
	<ul id="options_<%= index %>"
	    role="menu"
	    data-visible="false"
	    data-position="under"
	    class="options { column border-radius-sm border-clr-n-400 bg-n-000 }">
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'GitHub') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-github-gray.svg">
	    <span>GitHub</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'LinkedIn') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-linkedin-gray.svg">
	    <span>LinkedIn</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'GitLab') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-gitlab-gray.svg">
	    <span>GitLab</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'StackOverflow') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-stack-overflow-gray.svg">
	    <span>StackOverflow</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'YouTube') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-youtube-gray.svg">
	    <span>YouTube</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'Facebook') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-facebook-gray.svg">
	    <span>Facebook</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'Twitch') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-twitch-gray.svg">
	    <span>Twitch</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'Twitter') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-twitter-gray.svg">
	    <span>Twitter</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'Hashnode') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-hashnode-gray.svg">
	    <span>Hashnode</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'Codepen') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-codepen-gray.svg">
	    <span>Codepen</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'Devto') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-devto-gray.svg">
	    <span>Devto</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'Codewars') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-codepen-gray.svg">
	    <span>Codewars</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'Freecodecamp') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-freecodecamp-gray.svg">
	    <span>Freecodecamp</span>
	  </li>
	  <li role="menuitem"
	      ejs-attr="<% if (link.source === 'FrontendMentor') { %> data-status='selected' <% } %>"
	      class="row gap-sm pad-sm cross-axis-center">
	    <img alt="" src="/public/images/icons/icon-frontend-mentor-gray.svg">
	    <span>Frontend mentor</span>
	  </li>
	</ul>
      </div>
    </div>
    <div class="column">
      <label class="fs-200" for="input_<%= index %>">Link</label>
      <div class="input-link" ejs-style="--domain: '<%= link.domain %>';">
	<input id="input_<%= index %>"
	       type="url"
	       value="<%= link.url %>"
	       class="border-radius-sm border-clr-n-400 pad-sm"
	       ejs-style="--pad-left: <%= link.offset %>;">
      </div>
    </div>
  </article>
</li>
