<label class="fs-200 clr-n-800" for="<%= id %>"><%= title %></label>
<input class="border-radius-sm border-clr-n-400 pad-sm" id="<%= id %>" placeholder="<%= placeholder %>" type="<%= type %>" maxlength="<%= maxlength %>">
