<li>
  <a
    ejs-style="--image_path: url('/public/images/icons/<%= data.whiteIcon %>');"
    target="_blank"    
    ejs-class="<%= data.bgColor %>"
    ejs-href="<%= data.domain %><%= data.url %>">
    <%= data.source %>
  </a>
</li>
